<!-- 

Andrew ID: zhaol1
Email: zhaol1@andrew.cmu.edu

citing resourse from following sites: 

http://getbootstrap.com/docs/4.0/examples/blog/





-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Global_stream</title>
    {% load staticfiles %}
    <script src="{% static 'grumblr/js/jquery-2.1.4.min.js' %}" type="text/javascript"></script>
    {% load staticfiles %}
    <script src="{% static 'grumblr/js/grumblr.js' %}" type="text/javascript"></script>
    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static 'grumblr/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% load staticfiles %}
    <link href="{% static 'grumblr/css/blog.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="nav">
          <a class="nav-link active" href="{% url 'global_stream' %}">Post</a>
          <a class="nav-link" href="#">Followers</a>
          <a class="nav-link" href="{% url 'following_stream' %}">Following</a>
          <a class="nav-link" href="#">Explore</a>
          <a class="nav-link" href="{% url 'profile' request.user.id %}">My Profile</a>
          <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </nav>
      </div>
    </div>

    

    <div class="container">

      <div class="row">

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <img src="{% url 'avatar' user.id %}" height="64" width="64" align="left"></img>
            <h4>{{ user.username }}</h4>
            <p>{{profile.first_name}} {{profile.last_name}} </p>
            <p> {{user.email}} </p>

          </div>
          <div class="sidebar-module">
            <h4>Explore</h4>
            <ol class="list-unstyled">
              <li><a href="#">Tom Cruise</a></li>
              <li><a href="#">Jackie Chen</a></li>
              <li><a href="#">Bill Gates</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->



       

        <div class="col-sm-8 blog-main">
          <form method="post" action="{% url 'global_stream' %}" >
              {% csrf_token %}
              <div class="postit"> 
                <div class="textinput">{{ form }}</div>
                <input type="submit" value="Post" class="input"/>
              </div>
          </form>
          <div id = "new_post">
          {% for post in items %}
          <div class="blog-post">
            <img src="{% url 'avatar' post.user.id %}" height="32" width="32" align="left"></img>
            <p class="blog-post-meta"><a href="{% url 'profile' post.user.id %}">{{ post.user.username }}</a> {{ post.time }}</p>

            <p>{{ post.content }}</p>
          </div><!-- /.blog-post -->
          <div class="panel-footer">
                <form id="{{post.id}}" class="new_comment" method="post">
                  <input type="text" name="comment" id="new_input_comment{{post.id}}" placeholder="Comment here" required></input><br><br>
                  <button class="btn btn-sm btn-primary" type="submit">Comment</button>
                  {% csrf_token %}
                </form> 
                <div id="old_comment{{post.id}}">
                  {% for comment in comments %}
                   {% if comment.comment_post.id == post.id %}
                   <hr>
                   <img src="{% url 'avatar' comment.comment_user.id %}" height="20" width="20" align="left" />
                   <h4 style="text-indent: 0.5em;" align="left">{{comment.comment_user.username}}</h4>
                   <h4>{{comment.comment_text}}</h4>
                   <h5 align="right">{{comment.comment_time}}</h5>
                   {% endif %}
                  {% endfor %}
                </div>
          </div>
          <hr>
          {% endfor %}
        </div>
      </div>

          

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        
      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{% static 'grumblr/bootstrap/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'grumblr/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>

